@import "tailwindcss";

@import "./components/header/index.css";
@import "./components/navbar/index.css";
@import "./components/heroSection/index.css";
@import "./components/coreProducts/index.css";
@import "./components/acquireCRX/index.css";
@import "./components/tokenomics/index.css";
@import "./components/partners/index.css";
@import "./components/testimonials/index.css";
@import "./components/catBanner/index.css";
@import "./components/footer/index.css";

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 475px;
  --breakpoint-md: 868px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1120px;
  --breakpoint-2xl: 1140px;
}

html {
  scroll-behavior: smooth;
}

@theme {
  --font-inter: "Inter", sans-serif;
  --font-sans: "DM Sans", sans-serif;
  --font-onest: "Onest", sans-serif;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/font/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("./assets/font/DMSans-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Onest";
  src: url("./assets/font/Onest-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}