@import "tailwindcss";

@import "./components/navbar/index.css";
@import "./components/heroSection/index.css";
@import "./components/coreProducts/index.css";
@import "./components/acquireCRX/index.css";
@import "./components/tokenomics/index.css";
@import "./components/partners/index.css";
@import "./components/testimonials/index.css";
@import "./components/catBanner/index.css";
@import "./components/footer/index.css";

@theme {
    --breakpoint-*: initial;
    --breakpoint-sm: 475px;
    --breakpoint-md: 868px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1120px;
    --breakpoint-2xl: 1140px;
}